{% extends 'matias_app/base.html' %}

{% load static %}

{% block title %} Buscar Curso {% endblock title %}

{% block main %}

<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
            </div>
            <div class="col-lg-20 order-lg-1">
                <div class="p-5">
                    <h2 class="display-20
                    ">En esta Seccion podes buscar Cursos y sus camadas</h2>

                </div>
            </div>
        </div>
    </div>
</section>


<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{ mi_formulario.as_table }}
    </table>
    <input type="submit" value="Enviar">

    </form>
{% endblock main %}